input[type="text"] {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  color: var(--content-primary);
  background-color: var(--background-secondary);
  border: none;
  border-radius: 10px;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

button {
  max-width: 482px;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--background-tertiary);
  color: var(--content-primary);

  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.boxToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 2.25rem;
  height: 1.25rem;
  background: var(--content-tertiary);
  border-radius: 10px;
  padding: 3px;

  .toggle {
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
    background: var(--content-primary);
  }
}

.boxToggle:has(#repeat:checked) {
  background: var(--gradient-background);
}

form {
  .numbers {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-bottom: 1.25rem;

    section {
      height: 5.5rem;
      width: 5.375rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .repeat {
    margin-bottom: 2.5rem;

    .containerToggle {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: start;
      gap: 0.5rem;

      label {
        font: var(--paragraph-small);
      }
    }
  }
}
