@import url(./form.css);

main {
  margin-top: 4rem;
  display: grid;
  grid-template-areas:
    "A C"
    "B C";
  column-gap: 6.75rem;
  row-gap: 0.75rem;

  header {
    grid-area: A;
    width: 90%;

    span {
      font: var(--overline);
      background: var(--gradient-content);
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .containerInformations {
    grid-area: B;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .boxInformation {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 0.5rem;

      img {
        height: 1.25rem;
        width: 1.25rem;
      }

      div {
        h3 {
          color: var(--content-brand);
          font: var(--paragraph-medium);
        }
        p {
          color: var(--content-secondary);
          font: var(--paragraph-small);
        }
      }
    }
  }

  .containerResult {
    width: 400px;
    display: flex;
    align-items: center;
    grid-area: C;

    .game {
      width: 100%;
      header {
        width: 100%;
        margin-bottom: 2.5rem;

        h2 {
          text-transform: uppercase;
        }

        p {
          color: var(--content-secondary);
          font: var(--paragraph-large);
        }
      }
    }

    .boxResults {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.25rem;

      header {
        width: 100%;
        margin-bottom: 2.5rem;
        text-align: center;

        h2 {
          text-transform: uppercase;
        }

        span {
          color: var(--content-secondary);
        }
      }

      .results {
        height: 5.25rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.25rem;

        .result {
          width: 5.25rem;
          height: 5.25rem;
          color: var(--content-brand);
          font: var(--result);
          text-align: center;
          border-radius: 1rem;
          animation: role 2s ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes role {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    background: var(--content-brand);
    color: var(--color-inverse);
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
    background: transparent;
    color: var(--content-brand);
  }
}

@media (max-width: 80em) {
  main {
    grid-template-areas:
      "A"
      "C"
      "B";

    header {
      width: 100%;
    }

    .containerInformations {
      width: auto;
      margin-top: 5rem;
      gap: 2.25rem;
    }

    .containerResult {
      width: 100%;
      margin-top: 2.625rem;

      .game {
        height: 100%;

        header {
          p {
            font: var(--paragraph-medium);
          }
        }
      }

      .boxResults {
        width: 100%;
      }
    }
  }
}
